body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header{
    top:0;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: black;
    text-align: center;
    line-height: 80px;
}
header img{
    float: left;
    border-radius: 30px;
    margin: 10px;
}
h1{
    display: inline;
    color: white;
}
nav{
    float: right;
    right: 20px;
}
nav li{
    float: left;
    margin-left: 20px;
    color: white;
}
li>a{
    color: white;
}
main {
    margin-top: 80px;
}
#description{
    background-color: gray;
    padding: 50px;
}
main img{
    float: left;
    margin:20px;
    width: 250px;
    height: 300px;
}
.description-p2{
    clear:both;
    margin-left: 30px;
}
#relationship{
    background-color: white;
    padding: 100px;
}
.relationship img{
    float: right;
}
footer{
    height: 100px;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 100px;
    align-content: center;
    padding-bottom: 20px;
    clear: both;
}

